<!doctype html>
<html lang="en" ng-app="todo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/angular.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <title>iCloud提醒</title>
</head>
<body ng-controller="mainCtrl">
<!--<div class="bg">-->
    <div class="left-lists">
        <p class="name">
            <span class="app"></span>
            <span class="title">提醒事项</span>
            <span class="add-item" ng-click="addItem()">+</span>
        </p>
        <p class="chance">
            <span class="clock"></span>
            <span class="title">已计划</span>
        </p>
        <ul class="lists">
            <creat-li  ng-repeat="list in lists"></creat-li>
        </ul>
    </div>
    <div class="right">
        <div class="search-box">
            <div class="search">
                <span class="search-img"></span>
                <input type="text" placeholder="搜索所有提醒">
            </div>
        </div>
        <div class="right-lists">
            <div class="right-title">
                <span>{{current.name}}</span>
                <span class="xuanxiang">选项</span>
                <div class="xuan-Box">
                    <div class="xuan-box">
                        <div class="xuan-content">
                            <input type="text" value="{{current.name}}">
                            <p>列表颜色</p>
                            <ul class="color-lists">
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                                <li class="color-list">
                                    <div class="color"></div>
                                </li>
                            </ul>
                            <span class="del">删除</span>
                            <span class="quxiao">取消</span>
                            <span class="com">完成</span>
                        </div>
                    </div>
                    <!--<div class="point"></div>-->
                </div>
            </div>
            <ul class="complete">
                <!--<li class="con-item">-->
                    <!--<div class="item-box">-->
                        <!--已完成：1项-->
                    <!--</div>-->
                <!--</li>-->
                <li class="com-item comp" ng-repeat="todo in lists.todos">
                    <div class="item-box">
                        <div class="cue">
                            <div></div>
                        </div>
                        <span>{{todo.name}}</span>
                    </div>
                </li>
                <!--<li class="com-item uncomp">-->
                    <!--<div class="item-box">-->
                        <!--<div class="cue"></div>-->
                        <!--<span>bbb</span>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="com-item uncomp active">-->
                    <!--<div class="item-box">-->
                        <!--<div class="cue"></div>-->
                        <!--<span>ccc</span>-->
                    <!--</div>-->
                <!--</li>-->
                <li class="com-item">
                    <div class="item-box">
                        新项目...
                    </div>
                </li>
            </ul>
        </div>
    </div>
<!--</div>-->
</body>
<script>
    var app=angular.module("todo",[]);
    app.controller("mainCtrl",["$scope",function($scope){
        $scope.lists=[
            {
                position:"-34px -571px",
                id:1001,
                name:"事项1",
                todos:[
                    {
                        id:1,
                        name:"买车",
                        state:0
                    },
                    {
                        id:2,
                        name:"买房",
                        state:0
                    },
                    {
                        id:3,
                        name:"买花",
                        state:0
                    }
                ]
            },
            {
                position:"-133px -549px",
                id:1002,
                name:"事项2"
            },
            {
                position:"-102px -571px",
                id:1003,
                name:"事项3"
            },
            {
                position:"-68px -571px",
                id:1004,
                name:"事项4"
            },
            {
                position:"0 -571px",
                id:1005,
                name:"事项5"
            },
            {
                position:"-51px -571px",
                id:1006,
                name:"事项6"
            },
            {
                position:"-85px -571px",
                id:1007,
                name:"事项7"
            }
        ];
        $scope.current=$scope.lists[0];
        $scope.change=function(v){
            $scope.current=v;
        };
        console.log($scope.lists[0].todos)
        $scope.addItem=function(){
            $(".add-item").on("mousedown",false);
            var max_id=-Infinity;
            var position;
            $scope.lists.forEach(function(v,i){
                position=$scope.lists[($scope.lists.length%7)].position;
            });
            $scope.lists.forEach(function(v,i){
                if(max_id<v.id){
                    max_id=v.id;
                }
            });
            var item={
                position:position,
                id:max_id+1,
                name:"事项"+($scope.lists.length+1)
            };
            $scope.lists.push(item);
        }
    }]);
    app.directive("creatLi",[function(){
        return{
            restrict:"AE",
            replace:true,
            template:'<li class="list" ng-click="change(list)" data-id="{{list.id}}" > <span class="list-guide" style="background-position:{{list.position}}"></span> <div class="list-box"> <span class="title">{{list.name}}</span> <input type="text"  ng-model="current.name"> </div> </li>',
            link:function(scope,el){
                $("el").on("mousedown",false);
                $(el).on("dblclick",function(){
                    var input=$(el).find("input");
                    input.addClass("bianji");
                    $(el).find("span").addClass("text");
                    input.val(input.val()).focus();
                });
                $(el).on("click",function(){
                    var color=["#CB70E0","#A68962","#FF8200","#FF2A6B","#67DC3A","#1BAEF8","#F7CA00"];
                    var index=$(el).index();
                    $(".lists").find(".list").removeClass("active");
                    $(el).addClass("active");
                    $(".right-title").css("color",color[index%7]);
                });
                $(el).find("input").on("blur",function(){
                    var input=$(el).find("input");
                    var value=input.val();
                    input.removeClass("bianji");
                    $(el).find(".title").text(value);
                    $(el).find(".title").removeClass("text");
                });
                $(document).on("keyup",function(e){
                    if(e.keyCode===46){
                        var id=parseInt($(".active").attr("data-id"));
                        scope.$apply(function(){
                            scope.lists=scope.lists.filter(function(v,i){
                                return v.id !== id;
                            })
                        })
                        console.log(scope.lists)
                    }
                })
            }
        }
    }])
</script>
</html>